Research DEFI.json
{
  "name": "Research DEFI",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "AI-Key",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1008,
        2160
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OpenAI_ID",
          "name": "OpenAI_token"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9128e9e7-d1b8-4e89-8422-849b8dd519d8",
              "name": "query",
              "type": "string",
              "value": "=POS"
            }
          ]
        },
        "options": {}
      },
      "id": "125033d7-fece-4463-9745-1602bd6ccc4c",
      "name": "Set Query",
      "type": "n8n-nodes-base.set",
      "position": [
        -480,
        1760
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=POS",
        "options": {
          "systemMessage": "Your job is to analyze the keyword of the question and output it as a single word.The keyword will always be about Decentralized investment, POS, proof of stake, Validator node."
        }
      },
      "id": "62b3b10d-f68b-4770-abd2-d469dbffb802",
      "name": "Crypto News & Sentiment Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        1760
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "url": "https://cointelegraph.com/rss",
        "options": {}
      },
      "id": "4fa1d871-8d7b-4e67-9702-7f25197caec9",
      "name": "RSS Cointelegraph",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        768
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.coind1esk.com/arc/outboundfeeds/rss/",
        "options": {}
      },
      "id": "78022738-553e-45c2-a09a-208b84794e61",
      "name": "RSS Coindesk",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        1088
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://bitcoinist.com/feed/",
        "options": {}
      },
      "id": "6c919dc0-335e-4e25-9ac5-1808c57ecdcf",
      "name": "RSS Bitcoinist",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        1248
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.newsbtc.com/feed/",
        "options": {}
      },
      "id": "05272107-ab64-4962-842a-66474df5ba4d",
      "name": "RSS Newsbtc",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        1408
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://cryptopotato.com/feed/",
        "options": {}
      },
      "id": "f4f4f3b1-a519-4276-b03e-070d4efb6c6f",
      "name": "RSS Cryptopotato",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        1856
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://99bitcoins.com/feed/",
        "options": {}
      },
      "id": "890e5656-ece1-4fc3-ae0c-c63933ccdfde",
      "name": "RSS 99bitcoins",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        2032
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://cryptobriefing.com/feed/",
        "options": {}
      },
      "id": "663f91d1-a71d-4768-9440-055a183390c6",
      "name": "RSS Cryptobriefing",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        2224
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://crypto.news/feed/",
        "options": {}
      },
      "id": "facccfa3-70f5-4fe3-bcf5-8ebddd439110",
      "name": "RSS Crypto.news",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        2384
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "2ab36e80-c132-468b-8328-3df36a391c96",
      "name": "Merge All Articles",
      "type": "n8n-nodes-base.merge",
      "position": [
        864,
        1536
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "jsCode": "const term = $('Set Query').first().json.query.toLowerCase();\nreturn items.filter(item => {\n  const j            = item.json;\n  const title        = (j.title || \"\").toLowerCase();\n  const snippet      = (j.contentSnippet || j.description || \"\").toLowerCase();\n  const fullContent  = (j.content || \"\").toLowerCase();\n  return title.includes(term)\n      || snippet.includes(term)\n      || fullContent.includes(term);\n});"
      },
      "id": "7c5fc1ec-3df4-47e6-8d07-dbee26e93da5",
      "name": "Filter by Query",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        1744
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const q   = $node[\"Set Query\"].json.query;\nconst list = items\n  .map(i => `- ${i.json.title} (${i.json.link})`)\n  .join(\"\\n\");\nconst prompt = `\nYou are a crypto-industry news analyst.\nSummarize current news and market sentiment for **${q}** based on these articles:\n${list}\n\nAnswer in 3 parts:\n1. Summary of News\n2. Market Sentiment\n3. Links to reference news articles\n`;\nreturn [{ json: { prompt } }];"
      },
      "id": "f53eb311-3e07-4b97-937c-01614bed1ed5",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1664,
        1776
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your task is to analyze crypto news and updates, specifically about DeFi protocols and ecosystems, from all articles into a single article.\nFocus on information relevant to liquidity providers, investors, and protocol operators, such as:\n\n- New or emerging DeFi protocols (AMM/DEX, lending/borrowing, yield farming, etc.)\n- Security incidents, exploits, or rug pulls\n- Institutional, policy, or regulatory updates impacting DeFi\n- Protocol/network upgrades, tokenomics changes, or liquidity shifts\n\nFormat the results in plain text for Telegram using this edited template:\n\n📢 Headline: 🚀 DeFi Sector Updates 🚀\n\n🔹 Important Updates:\n🌱 For new/emerging DeFi protocols, launches, or liquidity opportunities\n🔐 For security incidents, exploits, or rug pulls\n🏛️ For regulatory, policy, or institutional updates impacting DeFi\n⚙️ For protocol upgrades, tokenomics changes, or major liquidity/TVL shifts\n\n☀️ Summary of Results ☀️\n💡 Impact: [Concise summary for Liquidity Providers / Investors / Operators]\n\nComments: [🟢Positive🟢 / 🟡Neutral🟡 / 🔴Negative🔴] \n(⚠️ Write **only** the rating, no explanation text.)\n\n🔗 Link: [link]\n\nKeep the text concise, clear, and mobile-friendly. Use emojis consistently as noted above.\n",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "f0dac41b-b70e-4cb9-9a2f-1b626b3a22d5",
      "name": "Summarize News & Sentiment (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3072,
        1776
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OpenAI_ID",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "565fb705-ac83-4a96-9343-2e29e348cc4f",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65375488-e693-453a-8da3-5413780c5edc",
      "name": "Prepare Telegram Message",
      "type": "n8n-nodes-base.set",
      "position": [
        3520,
        1776
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "##  Extract Keyword \nThis AI agent parses the user input and returns a single-word keyword to help match relevant news articles.",
        "height": 460,
        "width": 600,
        "color": 6
      },
      "id": "10822c26-2cce-41e0-8614-782022c2021d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## News Aggregators\nPulls articles from major crypto news sources. You can add more RSS feeds here to expand coverage.",
        "height": 2492,
        "width": 460,
        "color": 5
      },
      "id": "28e97713-1788-424f-840e-d5432be6dce0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Merge & Filter News\nCombines all RSS articles and filters them using the extracted keyword to match only relevant results.",
        "height": 1752,
        "width": 752,
        "color": 2
      },
      "id": "b5ab1563-b496-4dc0-872f-734553f8efd5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Prepare AI Prompt\nConstructs the input prompt for GPT-4o with a list of filtered articles. Output includes summary, sentiment, and article links.",
        "height": 360,
        "width": 260,
        "color": 7
      },
      "id": "7eb1ed93-0fa1-466e-917b-1367f37c97aa",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize News & Sentiment (GPT-4o)\nUses OpenAI GPT-4o to generate a concise summary of the news, analyze market sentiment, and return formatted results.\n\n",
        "height": 392,
        "width": 436,
        "color": 3
      },
      "id": "780dd46f-f488-4745-8bac-ace949962696",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        1552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Format for Telegram\n\nExtracts the AI summary and prepares it for Telegram delivery. Change the variable if you want to include other data.\n\n\n",
        "height": 460,
        "color": 6
      },
      "id": "dc2a8386-689e-466d-96f3-782c999c9ff5",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3456,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger\n",
        "height": 352,
        "width": 352,
        "color": 4
      },
      "id": "8e99118f-2999-42b5-83f5-88f90859903b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        1632
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Return Results to Caller\nNode: Respond to Webhook\n**Sends the final formatted message** back to the parent workflow that triggered the call.",
        "height": 480,
        "color": 4
      },
      "id": "2bd6535e-e1be-450d-bf30-9b9055360fa8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3792,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1520,
        1760
      ],
      "id": "da27b792-05cb-4f04-b3d8-02878e6064a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "1840031911",
        "text": "={{ $json.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3872,
        1776
      ],
      "id": "4871b5bb-c223-4dce-8abe-d43850543122",
      "name": "Send a text message",
      "webhookId": "906f7e20-e714-4120-a06a-dfe3f45dc018",
      "credentials": {
        "telegramApi": {
          "id": "GOQw1vwY9kTsJm1f",
          "name": "Telegram_Papa21CT"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Your job is to translate the following POS update message into Thai.({{ $json.message.content }}) \nKeep the following strictly unchanged:\n\n- All emojis\n- Message format (Headline, Key Updates with bullets, Impact, Sentiment)\n- The meaning and nuance of every sentence\n- Tone: clear, concise, mobile-friendly\n\nDo NOT add or remove any information. Only translate the text into natural Thai.\n\nHere is the message to translate:\n\n[PASTE THE ENGLISH TG MESSAGE HERE]"
            },
            {
              "content": "You are a translator",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "f8a2efa9-8a76-49a0-abe0-97bde5a94b50",
      "name": "Summarize News & Sentiment (GPT-4o)1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3744,
        2144
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "565fb705-ac83-4a96-9343-2e29e348cc4f",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a07c0158-7a23-40f6-8c54-00fdc8021ad3",
      "name": "Prepare Telegram Message1",
      "type": "n8n-nodes-base.set",
      "position": [
        4144,
        2144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "Chat_ID",
        "text": "={{ $json.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4416,
        2144
      ],
      "id": "c0798d64-5a1c-42f2-b408-82b4362ac7ad",
      "name": "Send a text message1",
      "webhookId": "dccac73e-12f1-4e7d-a07e-156f3082b6d9",
      "credentials": {
        "telegramApi": {
          "id": "TG_ID",
          "name": "Telegram DEFI bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://decrypt.co/feed",
        "options": {}
      },
      "id": "aa7415db-c9fd-4e72-ab44-7b1a4c4a93b6",
      "name": "RSS Decrypt",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        928
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://newsletter.thedefiant.io/feed",
        "options": {}
      },
      "id": "61c60669-0a68-4c94-b8f1-5c20da16ed61",
      "name": "RSS Thedefiant",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        1616
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "dbce3362-8a06-40d5-9698-83ef2fb5db03",
      "name": "Summarize News & Sentiment (GPT-4o)2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        1248
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "f6283271-b46a-4597-812a-d2a021fdf4f1",
      "name": "Summarize News & Sentiment (GPT-4o)3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        1424
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "OpenAI_ID",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "f431afbb-2a0d-4c37-87a1-b1b928c0709a",
      "name": "Summarize News & Sentiment (GPT-4o)4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        1600
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2560,
        1696
      ],
      "id": "08281527-c8ca-4518-b03a-5df20e6c0f5c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const term = $('Set Query').first().json.query.toLowerCase();\nreturn items.filter(item => {\n  const j            = item.json;\n  const title        = (j.title || \"\").toLowerCase();\n  const snippet      = (j.contentSnippet || j.description || \"\").toLowerCase();\n  const fullContent  = (j.content || \"\").toLowerCase();\n  return title.includes(term)\n      || snippet.includes(term)\n      || fullContent.includes(term);\n});"
      },
      "id": "5f3444b3-b262-47c1-88e3-463ff19977b5",
      "name": "Filter by Query1",
      "type": "n8n-nodes-base.code",
      "position": [
        2784,
        1776
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "6bf6dbb7-d309-4664-8361-85a206635f3a",
      "name": "Summarize News & Sentiment (GPT-4o)5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        1776
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "21421da9-85af-4626-8382-0ca19f50da05",
      "name": "Summarize News & Sentiment (GPT-4o)6",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        1952
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "0323de5c-3a68-4d10-83ed-72a5af16ae0e",
      "name": "Summarize News & Sentiment (GPT-4o)7",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        2128
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $node[\"Build Prompt\"].json.prompt }}"
            },
            {
              "content": "=Your job is to analyze crypto news and updates specifically about Proof of Stake (POS) networks. Ensure the accuracy of information and verify sources.\n\nFocus only on information relevant to node operators and investors, such as:\n\nNew or emerging POS networks\nSecurity incidents, hacks, or slashing events\nInstitutional adoption or regulations affecting POS\nGeneral network updates that may affect staking opportunities\nFormat the output as plain text for Telegram, using this fixed template:\n📢 Headline: [Use a relevant emoji for the overall update]\n🔹 Key updates:\n🌱 For new or emerging POS networks / adoption\n🔐 For security incidents, hacks, or slashing events\n🏛️ For regulations, policy, or institutional adoption\n⚙️ For general network updates or technical improvements\n💡 Impact: [Summarize implications for POS node operators/investors]\n📊 Sentiment: [Positive / Neutral / Negative]\n🔗Link: [Source Link]\n\nVerify the information:\n\nCross-check facts with reputable sources.\nEnsure credibility by using only verified and reliable links.\nKeep the message concise, clear, and easy to read on mobile. Use emojis consistently as indicated above.",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "454875e6-8fbc-4429-8f62-aafdc769df6c",
      "name": "Summarize News & Sentiment (GPT-4o)8",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2048,
        2304
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "V6SvaPa0u847vi7k",
          "name": "OpenAI_token"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "f2f0a087-77f7-42db-83a3-a04f1fe67ea2",
      "name": "Merge All Articles1",
      "type": "n8n-nodes-base.merge",
      "position": [
        864,
        1840
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {},
      "id": "ea38ce00-48d3-44eb-9b9e-97c5f5c56a7d",
      "name": "Merge All Articles2",
      "type": "n8n-nodes-base.merge",
      "position": [
        1168,
        1744
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "url": "https://cryptoslate.com/feed/",
        "options": {}
      },
      "id": "24a8e9f0-53a4-4e9f-88fb-698aaaaaaa97",
      "name": "RSS Cryptoslate",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        2560
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3520,
        2144
      ],
      "id": "79c6771d-f68e-46b0-b40f-c0dc1c971a0b",
      "name": "Wait",
      "webhookId": "7aeb8576-b441-4ffb-9cd1-d07bbebda4e7"
    },
    {
      "parameters": {
        "url": "https://www.bankless.com/rss/feed",
        "options": {}
      },
      "id": "a5b566b8-93bf-4e5a-ad7a-8c178c33890a",
      "name": "RSS Bankless",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        2784
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://dappradar.com/blog/feed",
        "options": {}
      },
      "id": "56c619e0-2117-4be5-9dca-0c9f1474c11d",
      "name": "RSS Cointelegraph1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        208,
        624
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1104,
        1968
      ],
      "id": "6e8be142-06c2-4e77-8a6b-bd118f8503df",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "gx2zY9dBVy9RK1wk",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set Query": {
      "main": [
        [
          {
            "node": "RSS Cointelegraph",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Coindesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Bitcoinist",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Newsbtc",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Cryptopotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS 99bitcoins",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Cryptobriefing",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Crypto.news",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Decrypt",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Thedefiant",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Cryptoslate",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Bankless",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Cointelegraph1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Newsbtc": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Summarize News & Sentiment (GPT-4o)2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize News & Sentiment (GPT-4o)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Coindesk": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS 99bitcoins": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Bitcoinist": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Filter by Query": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Crypto.news": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS Cryptopotato": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "RSS Cointelegraph": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Articles": {
      "main": [
        [
          {
            "node": "Merge All Articles2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Cryptobriefing": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepare Telegram Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto News & Sentiment Agent": {
      "main": [
        [
          {
            "node": "Set Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)": {
      "main": [
        [
          {
            "node": "Prepare Telegram Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crypto News & Sentiment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)1": {
      "main": [
        [
          {
            "node": "Prepare Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Message1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Decrypt": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Thedefiant": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter by Query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Query1": {
      "main": [
        [
          {
            "node": "Summarize News & Sentiment (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Summarize News & Sentiment (GPT-4o)8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge All Articles1": {
      "main": [
        [
          {
            "node": "Merge All Articles2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Articles2": {
      "main": [
        [
          {
            "node": "Filter by Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Cryptoslate": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Summarize News & Sentiment (GPT-4o)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Bankless": {
      "main": [
        [
          {
            "node": "Merge All Articles1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "RSS Cointelegraph1": {
      "main": [
        [
          {
            "node": "Merge All Articles",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Crypto News & Sentiment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfebfe52-fbac-428c-ad01-3a7544e295a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01233704743687d3d0bf16500b48de85ff1634323a2c1c1db3e72d097e47bd6b"
  },
  "id": "MsWP67KGounqjL1f",
  "tags": []
}
